<%- include('partials/header') %>
<div class="container-fluid py-5 px-md-5 col">
    <header class="d-flex align-items-center justify-content-between">
        <h1>
            Galería
        </h1>
    </header>
    <main class="col h-100">

    </main>
</div>

     <!-- <script src="/crear_reservas.js"></script>  -->
    <%- include('partials/footer') %>